version: '3.6'
services:
  postgres:
    image: postgres:13
    container_name: postgres_db
    restart: always
    environment:
      - POSTGRES_USER=roman
      - POSTGRES_PASSWORD=roman
      - POSTGRES_DB=nest-auth
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
volumes:
  postgres-data: